<?xml version="1.0"?>
<model>
  <name>alpha_description_new</name>
  <version>1.0</version>
  <sdf version="1.5">urdf/jetauto.xacro</sdf>
  <author>
    <name>Ubuntu</name>
    <email>1270161395@qq.com</email>
  </author>
  <description>
    JetAuto custom robot description.
  </description>
</model>
